<!DOCTYPE html>
<html>
  <head>
    <title>Ian Withers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="has-background-charcoal">
    <header>
      <nav class="navbar is-fixed-top is-charcoal">
        <div class="navbar-brand">
          <div>
            <%= link_to home_path do %>
            <h1 data-text="Ian Withers" class="ml-6 has-text-highlight-2 title is-1" id="logo">Ian Withers</h1>
            <h2 class="mb-3 subtitle">Ruby Developer</h2>
          <% end %>
          </div>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-buttons">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu has-background-charcoal" id="nav-buttons">
          <div class="navbar-end">
            <%= link_to "Home", home_path, class: "is-size-4 navbar-item has-text-cyan"%>
            <%= link_to "About", about_path, class: "is-size-4 navbar-item has-text-cyan"%>
            <%= link_to "Portfolio", portfolio_path, class: "is-size-4 navbar-item has-text-cyan"%>
            <%= link_to "Contact Me", new_contact_path, class: "is-size-4 navbar-item has-text-cyan"%>

          </div> 
        </div>
      </nav>
    </header>

    <% if flash[:notice]  %>
      <div class="notification is-highlight-1 ">
        <p class="notice has-text-charcoal"><%= flash[:notice]%></p> 
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-highlight-2 ">
        <p class="alert"><%= flash[:alert] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
